body { /* фона отзад */
    background-color: #FFFF00; /* цвят на фон */
 }
.h1{ /* заглавие 1 */
    color: #008080; /* цвят на текста */
    font-size: 25px; /* големина на шрифта */
    font-family: "Arial"; /* вид шрифт */
    font-weight: bold; /* дебелина на шрифта */
 }
table.green{ /* зелена табличка */
    border: 3px solid #111111; /* граница */
    padding: 0px; /* подложката, заобикаляща съдържанието */
    border-spacing: 0px; /* разстоянието между границите на съседните клетки */
    border-collapse: collapse; /* дали границите на таблицата трябва да се свиват в една граница или да бъдат разделени, както в стандартния HTML */
    width: 50%; /* широчина */
    background-color: #00ff00; /* цвят на фон */
}
table.blue{ /* синя табличка */
    padding: 0px; /* подложката, заобикаляща съдържанието */
    border-spacing: 0px; /* разстоянието между границите на съседните клетки */
    border-collapse: collapse; /* дали границите на таблицата трябва да се свиват в една граница или да бъдат разделени, както в стандартния HTML */
    width: 50%; /* широчина */
    border: 3px solid #111111; /* граница */
    background-color: #00ffff; /* цвят на фон */
}
td { /* заглавието на колоните */
    width: 50%; /* широчина */
    border: 3px solid #111111; /* граница */
    /*background-color: #FFFF00; /* цвят на фон */
 }
 td.bold {
    font-weight: bold; /* дебелина на шрифта */
    text-align: center; /* подравняването на текста */
 }
td.right {
    text-align: right; /* подравняването на текста */
 }
a:link { /* елемента котва: линк*/
    color: #00FF00; /* цвят на активен линк */
 }
.normal_paragraph { /* обикновените параграфи */
    font-family: "Arial"; /* вид шрифт */
    color: #996600; /* цвят */
 }